@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.myacc{
  color: white;
  margin-left: 10px;
}

.myacc:hover{
  text-decoration: none;
  color: #888888;
}

.navheight{
  height: 60px;
}

.current{
  text-decoration: underline;
}

