<div class="page-top" style="width: 100%; height: 20px; background-color: #DEB887"></div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark navheight" >
  <div class="collapse navbar-collapse container" id="navbarTogglerDemo01">
    <a class="navbar-brand" routerLink="/">Petar's Bookstore</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }">HOME</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/booklist/all" routerLinkActive="current">BOOKS</a>
      </li>



    </ul>

    <a *ngIf="loggedIn && isAdmin" class="myacc" routerLink="/admin/welcome" >ADMIN PORTAL</a>
    <a *ngIf="!isAdmin && loggedIn" class="myacc" routerLink="/cart" routinkActive="current">SHOPPING CART <sup *ngIf="cartCnt>0" style="border: 1px solid #835C3B;background-color: #835C3B; border-right:50px; padding: 1px 3px; border-radius: 50px">{{cartCnt}}</sup></a>
    <a *ngIf="!loggedIn" class="myacc" routerLink="/login">Login</a>
    <a *ngIf="!loggedIn" class="myacc" routerLink="/register">Register</a>
    <a *ngIf="loggedIn && !isAdmin"class="myacc" routerLink="/user/profile"routerLinkActive="current">MY PROFILE</a>
    <a *ngIf="loggedIn" (click)="logout()"  class="myacc" href="">LOGOUT</a>
  </div>

</nav>
