<app-navbar></app-navbar>
<div class="container">
  <div class="row" style="text-align: center">
    <div class="col" >

    </div>
    <div class="col">
      <img src="../../../assets/image/logo1.png" class="img-fluid" style="width:400px;margin-left: 200px; z-index:1;" />
    </div>
    <h1 style="position: absolute;  margin-top: 50px; margin-left: 525px; background-color: #333333; color: white; padding: 3px; font-size: 35px; border-radius: 5%">About Us</h1>
    <img src="../../../assets/image/wood.png" class="img-fluid" style="position: absolute; margin-top: 90px; z-index: -2; width: 1150px" />
  </div>

  <hr style="position: absolute;width:60%; height:3px; background-color: #333; z-index:-1; margin-top: -160px;" />
  <br>
  <hr style="border:1.5px solid #888" />
  <div style="display: flex; width: 100%">
    <div style="flex-grow: 1">
      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps?f=q&source=s_q&hl=en&geocode=&q=15+Springfield+Way,+Hythe,+CT21+5SH&aq=t&sll=52.8382,-2.327815&sspn=8.047465,13.666992&ie=UTF8&hq=&hnear=15+Springfield+Way,+Hythe+CT21+5SH,+United+Kingdom&t=m&z=14&ll=51.077429,1.121722&output=embed"></iframe>
    </div>
    <div style="flex-grow: 1; margin-left: 20px">
      <h2>Petar's book store</h2>
      <address>
        <strong>Kneza Mihaila 12</strong><br>
        Belgrade, United Kingdon<br>
        tel: +381 67 5933 104<br>
        e-mail: petarbookstr@gmail.com
      </address>
    </div>
  </div>



</div>
<br>
<br>
<br>

<app-footer></app-footer>
