@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.card h4 {
  margin-top: 10px;
  margin-left: 8px;
}

.card{
  width: 700px;
  border: none;
}
button{
  border: 1px solid white;
  outline: none;

  background: #DEB887;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  vertical-align: center;
}
