<app-nav-bar></app-nav-bar>
<div class="container">

  <div style="margin-top: 30px" class="table-responsive">
    <table id="bookListTable" class="table bordered highlight">
      <thead>
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>Our Price</th>
        <th>Picture</th>
        <th>NumInStock</th>
        <th>Sold</th>
        <th></th>
        <th></th>
        <th>New price</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList">
          <td>
            <input type="text" hidden="hidden" name="id">
            <input type="checkbox" [checked]="allChecked" >
          </td>
          <td><a style="cursor: pointer" (click)="onSelect(book)">{{book.title}}</a></td>
          <td >{{book.author }}</td>
          <td>{{book.category}}</td>
          <td>{{book.ourPrice}} RSD</td>
          <td><img src="{{book.bookImage}}" alt="book image" style="height: 120px"></td>
          <td>{{book.inStockNumber}}</td>
          <td>{{book.numberOfSold}}</td>
          <td style="width: 200px ; text-align: center">
            <input hidden="hidden" name="id" />
            <div [attr.id]="book.id + 'div'" style="display:none">
              <span>Are u sure?</span>
              <br>
              <button mat-button class="mat-primary" (click)="delete(book)">Yes</button>
              <button mat-button class="mat-primary" (click)="closeDialog(book)">No</button>
            </div>

              <button mat-button (click)="openDialog(book)" value="delete" class="mat-warn" ><span class="fa fa-times"></span> Delete </button>

          </td>
          <td>
            <div>
              <input type="number" min="1" max="80" [(ngModel)]="book.discount">
              <button mat-button (click)="setDiscount(book.id, book.discount)" value="delete" class="mat-primary" >Set discount </button>
            </div>
          </td>
          <td>
            <p *ngIf="book.discount>0">{{book.newPrice}} RSD</p>
            <p *ngIf="book.discount==0"> / </p>
          </td>
        </tr>


      </tbody>
    </table>

  </div>
  <br>
  <button mat-raised-button class="mat-warn" id="deleteselected" style="margin-bottom: 20px">Delete Selected</button>

</div>
