<app-nav-bar></app-nav-bar>
<div class="container">

  <div style="margin-top: 30px" class="table-responsive">
    <table id="bookListTable" class="table bordered highlight">
      <thead>
      <tr>
        <th>
          <input type="checkbox">
        </th>
        <th>Title</th>
        <th>Author</th>
        <th>Category</th>
        <th>List Price</th>
        <th>Our Price</th>
        <th>Active?</th>
        <th>Operation</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of bookList">
          <td>
            <input type="text" hidden="hidden" name="id">
            <input type="checkbox" [checked]="allChecked" >
          </td>
          <td><a style="cursor: pointer" (click)="onSelect(book)">{{book.title}}</a></td>
          <td >{{book.author }}</td>
          <td>{{book.category}}</td>
          <td>{{book.listPrice}}</td>
          <td>{{book.ourPrice}}</td>
          <td><img src="{{book.bookImage}}" alt="book image" style="height: 120px"></td>
          <td>{{book.active}}</td>
          <td style="width: 200px ; text-align: center">
            <input hidden="hidden" name="id" />
            <div [attr.id]="book.id + 'div'" style="display:none">
              <span>Are u sure?</span>
              <br>
              <button mat-button class="mat-primary" (click)="delete(book)">Yes</button>
              <button mat-button class="mat-primary" (click)="closeDialog(book)">No</button>
            </div>
            <div [attr.id]="book.id">
              <button mat-button (click)="openDialog(book)" value="delete" class="mat-warn" ><span class="fa fa-times"></span> Delete </button>
            </div>

          </td>
        </tr>


      </tbody>
    </table>

  </div>
  <br>
  <button mat-raised-button class="mat-warn" id="deleteselected" style="margin-bottom: 20px">Delete Selected</button>

</div>
