<app-navbar></app-navbar>
<div style="display: inline-block">
</div>



<div style="margin-top: 0px">

  <div class="topcont" style="margin-top: 0px">


    <!-- menu for filters -->
    <div>
      <div style="height: 33vh;"></div>

      <!-- price range -->


      <div style="margin-left: 5px; border-right: 1px solid #ccc">
        <br>
        <p style="margin-left: 10px; margin-bottom: 2px; font-size: 27px;">Filters: </p>
        <hr style="width: 90%">
        <div class="select">
          <select name="slct" id="slct" (change)="selectPriceRange($event)">
            <option selected disabled>Choose price range</option>
            <option value="1">0-500 rsd</option>
            <option value="2">501-1000 rsd</option>
            <option value="3">1001-1500 rsd</option>
            <option value="4">1501-2000 rsd</option>
            <option value="5">2001-3000 rsd</option>
            <option value="6">3001-5000 rsd</option>

          </select>
        </div>
        <hr style="width: 90%">
        <!-- type -->
        <div style="text-align: center; width: 100%"><p>Format:</p></div>
        <ul class="ks-cboxtags" style="text-align: center">
          <li (change)="changeFormat()"><input type="checkbox" id="paperback" value="paperback" [(ngModel)]="paperback"><label for="paperback" style="margin-right: 5px">paperback</label>
          </li>
          <li><input type="checkbox" id="hardcover" value="hardcover" [(ngModel)]="hardcover"><label for="hardcover">hardcover</label></li>
        </ul>
        <br>
        <hr style="width: 90%">
        <div style="text-align: center; width: 90%"><p>Category:</p></div>
        <ul class="ks-cboxtags" style="text-align: center; width: 100%">
          <li><input class="check" type="checkbox" id="management" value="management"><label for="management"
                                                                                             style="margin-right: 5px">management</label>
          </li>
          <li><input class="check" type="checkbox" id="fiction" value="fiction"><label for="fiction">fiction</label>
          </li>
          <br>
          <li><input class="check" type="checkbox" id="engineering" value="engineering"><label for="engineering"
                                                                                               style="margin-right: 5px">engineering</label>
          </li>
          <li><input class="check" type="checkbox" id="programming" value="programming"><label for="programming">programming</label>
          </li>
          <br>
          <li><input class="check" type="checkbox" id="arts & literature" value="arts & literature"><label
            for="arts & literature" style="margin-right: 5px">arts & literature</label></li>
        </ul>

        <hr style="width: 90%">
        <!-- type -->
        <div style="text-align: center; width: 100%"><p>Language:</p></div>
        <ul class="ks-cboxtags" style="text-align: center">
          <li><input type="checkbox" id="serbian" value="serbian"><label for="serbian"
                                                                         style="margin-right: 5px">Serbian</label></li>
          <li><input type="checkbox" id="english" value="english"><label for="english">English</label></li>
        </ul>
        <br>
        <br>
      </div>

    </div>

    <div>
      <div style="display: flex; margin-top: 0px">
        <div style=" margin-top: 0px; flex-grow: 3">
          <img src="../../../assets/image/wood.png" class="img-fluid"
               style="position: absolute; margin-top: 90px; z-index: -2; width: 1150px"/>

          <input class="form-control mr-sm-2" type="text" placeholder="Search" name="searchByTitle" aria-label="Search"
                 style="width: 75%; margin-right: 0px; margin-top: 25px;display: inline-block">
          <button class="btn" style="background-color: #835C3B; color: white;margin: 5px; display: inline-block"
                  type="submit">Search
          </button>
        </div>

        <div class="child" style=" margin-top: 0px">
          <img src="../../../assets/image/logo1.png" style="width: 60%"/>

        </div>
      </div>
      <br>
      <div class="bg-dark pagination">
        <div class="pag" style="margin-left: 5px">
          <span>1-24 od 29</span>
        </div>
        <div class="pag" style="text-align: center">
          <p>< 1 2 3 ></p>
        </div>
        <div class="pag" style="text-align: right; margin-right: 5px">
          cena opadajuce
        </div>
      </div>


      <div *ngFor="let book of bookList">
          <div class="card"style=" float: left; margin: 8px; width: 31%; height: 170px">
            <a href="book/{{book.id}}" >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{book.bookImage}}" class="card-img" alt="..." style="height: 170px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{book.title}}</h5>
                  <p class="card-text">{{book.author}}</p>
                  <p class="card-text"><small class="text-muted" style="font-size: 15px">Price: {{book.ourPrice}}
                    rsd</small></p>
                </div>

              </div>
            </div>
            </a>
          </div>
      </div>
      <br class="clearBoth" /><!-- you may or may not need this -->
     <!-- <div class="card-deck" *ngFor="let book of bookList">
        <div class="card" style="display: flex; flex-direction: row; height: 200px">
          <div style="flex-grow: 1">
            <img src="{{book.bookImage}}" class="card-img-top" alt="..." style="height: 200px">
          </div>

          <div class="card-body" style="flex-grow: 8">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>-->



      <div class="bg-dark pagination">
        <div class="pag" style="margin-left: 5px">
          <span>1-24 od 29</span>
        </div>
        <div class="pag" style="text-align: center">
          <p>< 1 2 3 ></p>
        </div>
        <div class="pag" style="text-align: right; margin-right: 5px">
          cena opadajuce
        </div>
      </div>

      <br>
    </div>





    <div>
      side
    </div>


  </div>

</div>


<app-footer></app-footer>
