
<app-nav-bar></app-nav-bar>
<div class="form">
  <h3 style="text-align: center">Edit Book Information <span style="font-size:small">* is a required field</span></h3>




  <ul class="form-style-1">
    <span style="font-size:small" *ngIf="isValid">{{isValid}}</span>
    <li>
      <input type="text" [(ngModel)]="book.title" name="title" class="field-long" placeholder="Title *"/>
    </li>

    <li><label> <span class="required"></span></label><input [(ngModel)]="book.author" type="text" name="author" class="field-divided" placeholder="Author *" /> <input [(ngModel)]="book.publisher" type="text" name="publisher" class="field-divided" placeholder="Publisher *" /></li>
    <li>

      <input matInput id="publicationDate" class="field-long" type="date" required [(ngModel)]="book.publicationDate" name="publicationDate" placeholder="PublicationDate">
    </li>
    <li>
      <select [(ngModel)]="book.category" name="Category" class=" field-divided" >
        <option value="" disabled selected>Category *</option>
        <option value="management">Management</option>
        <option value="fiction">Fiction</option>
        <option value="engineering">Engineering</option>
        <option value="programming">Programming</option>
        <option value="architecture">Architecture</option>
      </select>


      <select [(ngModel)]="book.format" name="Category" class=" field-divided" >
        <option value="" disabled selected>Format *</option>
        <option value="paperback">Paperback</option>
        <option value="hardcover">Hardcover</option>
      </select>

    </li>
    <li>
      <label> Number Of Pages </label>
      <input type="text" [(ngModel)]="book.numberOfPages" name="numberOfPages" class="field-divided" placeholder="Number of Pages"/>
      <label> ISBN* </label>
      <input type="text" [(ngModel)]="book.isbn" name="isbn" class="field-divided" placeholder="ISBN *"/>

    </li>

    <li>
      <label> List Price </label>
      <input type="text" [(ngModel)]="book.listPrice" name="listPrice" class="field-divided" placeholder="List Price"/>
      <label> Price </label>
      <input type="text" [(ngModel)]="book.ourPrice" name="ourPrice" class="field-divided" placeholder="Our Price"/>

    </li>

    <li>
      <label> Weight </label>
      <input type="text" [(ngModel)]="book.shippingWeight" name="shippingWeight" class="field-divided" placeholder="Shipping Weight"/>
      <select [(ngModel)]="book.language" name="language" class=" field-divided" >
        <option value="" disabled selected>Language *</option>
        <option value="english">English</option>
        <option value="serbian">Serbian</option>
      </select>

    </li>

    <li>
      <label> Number in Stock </label>
      <input type="text" [(ngModel)]="book.inStockNumber" name="inStockNumber" class="field-divided" placeholder="Numbers in Stock"/>
      <mat-slide-toggle class="mat-primary" style="padding-left: 20px" [(ngModel)]="book.active" name="active">Active</mat-slide-toggle>

    </li>

    <li>
      <label> Description <span class="required">*</span></label>
      <textarea [(ngModel)]="book.description" name="description" id="description" class="field-long field-textarea"></textarea>
    </li>

    <li>
      <input type="text" [(ngModel)]="book.bookImage" name="bookImage" class="field-long" placeholder="image url *"/>
    </li>
    <br>

    <li>
      <button mat-raised-button class="mat-primary" style="margin-right: 20px" (click)="onSubmit()"> Save </button>
      <a mat-raised-button class="mat-warn" routerLink="/admin/welcome">Cancle</a>
    </li>
  </ul>
</div>
